@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

html, body {
    height: 100%;
}

/* navbar */
#main-nav {
    //background-color: rgba(7, 42, 200, .8);
    background-color: transparent;
    color: white;
    box-shadow: 0 0 0px transparent;
    transition: background 0.3s ease-out;
}

#main-nav .navbar-brand {
    color: white;
}

#main-nav .nav-link {
    color: white;
    transition: color 0.3s ease-out;

    .menu-item:hover {
        border-top: 2px solid $se-red;
    }
}

#menu-item-52 {
    margin-left: 40px;
}

.active {
    border-top: 2px solid $se-red;
}

#main-nav .navbar-light .navbar-nav .nav-link:hover {
    color: $se-red;
}

#main-nav.scrolled {
    background-color: $se-blue;
}

.zip-form {
    position: relative;
    max-width: 260px;

    form {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .btn {
            width: 30px;
            border-radius: 0px 10px 10px 0px;
            font-size: 24px;
            padding: 0;
        }

        input {
            border-radius: 10px 0px 0px 10px;
        }
    }
    
}

.red-cta {

    position: relative;
    img {
        position: absolute;
        top: -135px;
    }

    .zip-form {
        position: relative;
        max-width: 260px;
    
        form {
            display: flex;
            flex-direction: row;
            justify-content: center;
    
            .btn {
                width: 30px;
                border-radius: 0px 10px 10px 0px;
                font-size: 24px;
                padding: 0;
                background-color: $se-blue;
            }
    
            input {
                border-radius: 10px 0px 0px 10px;
            }
        }
        p {
            display: none;
        }
    }
}

/* home banner */

.home-banner {
    height: 90vh;
    background: url("../img/home-banner-img.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    h1 {
        position: relative;
        color: white;
        font-size: 80px;
        text-shadow: 1px 1px 1px #000;
    }
    .zip-form {
        display: block;
        margin: 30px auto;

        p {
            color:white;
            font-size: 24px;
            text-shadow: 1px 1px 1px #000;
        }
    }
 }

.home-banner:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    background: $se-blue;
}

.banner {
    height: 90vh;
    background: url("../img/home-banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    h1 {
        position: relative;
        color: white;
        font-size: 48px;
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
    }

    p {
        position: relative;
        color: white;
        font-size: 24px;
        text-shadow: 1px 1px 1px #000;

    }

    .form-holder {
        background-color: white;
        position: relative;

        p {
            font-size: 1em;
            color: $se-grey;
        }
    }
 }

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .2;
    background: #000;
}

.sub-banner {
    height: 50vh;

    h1 {
        position: relative;
    }

    p {
        position: relative;
    }
}

.blog-banner {
    height: 50vh;
    background: url("../img/blog-banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    h1 {
        position: relative;
    }

    p {
        position: relative;
    }
}

.dark-tint {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .5;
        background: $se-shade;
    }
}

.blue-tint {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .6;
        background: $se-blue;
    }
}


.red-tint {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .7;
        background: $se-red;
    }
}

/* footer */

.footer {
    background-color: $se-blue;
    color: white;
}

/* helpers */

.bg-light-grey {
    background-color: $se-light-grey;
}
.bg-red {
    background-color: $se-red;
}
.bg-blue {
    background-color: $se-blue;
    position: relative;
}
.red-box {
    background-color: $se-red;
    z-index: 100;
    position: relative;
    border-radius: 10px;
    

    h3 {
        color: white;
    }

    p {
        color: white;
    }
}

.n-m {
    margin-top: -100px;
}
.lead {
    color: black;
}

.white-box {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 100;
    position: relative;
    background-color: white;
    min-height: 320px;
    border-radius: 10px;

    .red-flag {
        position: absolute;
        left: -13px;
        top: 20px
    }
}

.img-holder {
    position: relative;

    .img-content {
        background-color: $se-blue;
        width: 70%;
        position: absolute;
        bottom: 60px;
        right:0;
    } 

    span {
        color: white;
        font-size: 13px;
    }

    h4 {
        color: white;
        font-size: 45px;
        margin: 0;
    }
    p {
        color: white;
        margin: 0;
    }

}

.post-content-recent {
     h2 a {
         color: white;
         text-decoration: none;
     }

     p {
         color: white;
     }
}
  .gform_wrapper.gravity-theme .gf_progressbar_percentage {
    border-radius: 10.5px;
    height: 20.992px;
    text-align: right;
    vertical-align: middle;
    background-color: $se-red !important;
    color: #fff !important;
  }
  

.gform_next_button {
    color: #fff !important;
    background-color: $se-blue !important;
    border-color: $se-blue !important;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.gform_wrapper.gravity-theme .gform_previous_button.button, .gform_wrapper.gravity-theme .gform_save_link.button {
    color: #fff !important;
    background-color: $se-red !important;
    border-color: $se-red !important;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


// Form Page 

.form-content {
    padding: 15%;

    form {

        input, select, textarea {
            background-color: #EDEDED;
            border: 1px solid #707070;
        }
    }
}

.form-sidebar {
    position: relative;
    background: url("../img/form-sidebar-bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    a img {
        margin-bottom: 150px !important;
    }

    h1 {
        position: relative;
        color: white;
    }
    p {
        position: relative;
    }

    ul#progressbar {
        position: relative;
        margin: 0;
            padding: 0;

            li {
                color: white;
                list-style: none;
                margin-bottom: 15px;

                h4 {
                    
                    font-size: 24px;
                    font-weight: 300;
                    color: white;
                    display: flex;
                    align-items: center;
                    

                    span {
                        background-color: white;
                        padding: 5px;
                        color: $se-blue;
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                        display: flex;
                        text-align: center;
                        font-size: 14px;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                    }
                }
                p {
                    color: white;
                    font-size: 14px;
                }
            }
    }
}

.form-sidebar:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    background: $se-blue;
}

.form-step {
    display: none;
}

.form-step-active {
    display: block;
}

.progress-step {
    opacity: .3;

    p {
        display: none;
    }
}
.progress-step-active {
    position: relative;
    opacity: 100;

    p {
        display: block;
    }
}