@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

/* navbar */
#main-nav {
    background-color: transparent;
    color: white;
    box-shadow: 0 0 0px transparent;
    transition: background 0.3s ease-out;
}

#main-nav .navbar-brand {
    color: white;
}

#main-nav .nav-link {
    color: white;
    transition: color 0.3s ease-out;

    &:active {
        color: $se-red;
    }
}

#main-nav .navbar-light .navbar-nav .nav-link:hover {
    color: $se-red;
}

#main-nav.scrolled {
    background-color: $se-blue;
}

/* home banner */

.banner {
    height: 90vh;
    background: url("../img/home-banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    h1 {
        position: relative;
        color: white;
        font-size: 88px;
    }

    p {
        position: relative;
        color: white;
        font-size: 24px;

    }

    .form-holder {
        background-color: white;
        position: relative;

        p {
            font-size: 1em;
            color: $se-grey;
        }
    }
 }

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    background: $se-blue;
}

.sub-banner {
    height: 50vh;

    h1 {
        position: relative;
    }

    p {
        position: relative;
    }
}

.blog-banner {
    height: 50vh;
    background: url("../img/blog-banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    h1 {
        position: relative;
    }

    p {
        position: relative;
    }
}

.dark-tint {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .5;
        background: $se-shade;
    }
}

.blue-tint {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .6;
        background: $se-blue;
    }
}


.red-tint {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .7;
        background: $se-red;
    }
}

/* footer */

.footer {
    background-color: $se-blue;
    color: white;
}

/* helpers */

.bg-light-grey {
    background-color: $se-light-grey;
}
.bg-red {
    background-color: $se-red;
}
.bg-blue {
    background-color: $se-blue;
    position: relative;
}
.red-box {
    background-color: $se-red;
    z-index: 100;
    position: relative;

    h3 {
        color: white;
    }

    p {
        color: white;
    }
}

.n-m {
    margin-top: -100px;
}
.lead {
    color: $se-grey;
}

.white-box {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 100;
    position: relative;
    background-color: white;
}

.img-holder {
    position: relative;

    .img-content {
        background-color: $se-blue;
        width: 70%;
        position: absolute;
        bottom: 60px;
        right:0;
    } 

    span {
        color: white;
        font-size: 13px;
    }

    h4 {
        color: white;
        font-size: 45px;
        margin: 0;
    }
    p {
        color: white;
        margin: 0;
    }

}

.post-content-recent {
     h2 a {
         color: white;
         text-decoration: none;
     }

     p {
         color: white;
     }
}
  .gform_wrapper.gravity-theme .gf_progressbar_percentage {
    border-radius: 10.5px;
    height: 20.992px;
    text-align: right;
    vertical-align: middle;
    background-color: $se-red !important;
    color: #fff !important;
  }
  

.gform_next_button {
    color: #fff !important;
    background-color: $se-blue !important;
    border-color: $se-blue !important;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.gform_wrapper.gravity-theme .gform_previous_button.button, .gform_wrapper.gravity-theme .gform_save_link.button {
    color: #fff !important;
    background-color: $se-red !important;
    border-color: $se-red !important;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}